.register-form {
  display: flex;
  flex-direction: column;
  width: fixed(388px);
  height: hug(765px);
  gap: 48px;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: -2rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: rgb(229, 48, 48);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #3044db;
}

.link-btn {
  background: none;
  color: rgb(68, 195, 26);
  text-decoration: underline;
}

img {
  width: 816px;
  height: 1076px;
  padding-top: 5px;
  padding-bottom: 3px;
  border: 1px;
  border-radius: 24px;
  gap: 0px;
  opacity: 0px;
}

.img-bg {
  padding: 20px;
}
